---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import Greeting from "../components/Greeting.jsx";

const pageTitle = "Personal Blog | 1tpp.dev";

import { getCollection } from "astro:content";
const allBlogs = await getCollection("blogs");
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
  <ul>
    {
      allBlogs.map((blog: { slug: string; data: { title: string } }) => (
        <BlogPost url={`/blogs/${blog.slug}`} title={blog.data.title} />
      ))
    }
  </ul>
</BaseLayout>
